:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  /*  colors */
  --main-tex-ol: black;
  --main-text: #212121;
  --secondary-text: #757575;
  --light-text: #ffffff;
  --accent: #2196f3;
  --secondary-bg: #f5f4fa;
  --bground: #e5e5e5;
  --lidht-bg-ol: #d9d9d9;
  --main-bg-ol: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --hero-bg: rgba(196, 196, 196, 1);
  --linear-grd: (47, 48, 58, 0.4);
  --sosial-icon: #afb1b8;
  --caed-pof: #eeeeee;
  /* card-image  */
  --card-image-gap: 30px;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlay: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  color: var(--main-tex-ol);
}

.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.list,
.adress-contakt {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--lidht-bg-ol);
}

.header__mail,
.header__phone {
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.header__mail {
  margin-right: 50px;
}

.header__mail:hover,
.header__phone:focus,
.header__mail:focus,
.header__phone:hover {
  color: var(--accent);
  outline: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  outline: 0;
  color: var(--accent);
}

.stud {
  color: var(--main-tex-ol);
}

.phone-icon,
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
  color: var(--main-text);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
  outline: 0;
}
.nav__link:active {
  color: var(--accent);
}
.nav__link--active[href="./index.html"] {
  color: var(--accent);
}
.nav__link--active[href="./portfolio.html"] {
  color: var(--accent);
}
.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-bg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--light-text);
}
.hero__button {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.14;
  background: var(--accent);
  -webkit-transition: color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.hero .hero__button--text {
  color: var(--light-text);
  border: 0;
  cursor: pointer;
}
.hero .hero__button:hover,
.hero .hero__button:focus {
  outline: 0;
  color: var(--lidht-bg-ol);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */