.header {
    border-bottom: 1px solid var(--lidht-bg-ol);
  }
  
  .header__mail,
  .header__phone {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--secondary-text);
    transition: color var(--anim-fast);
  }
  .header__mail {
    margin-right: 50px;
  }
  
  .header__mail:hover,
  .header__phone:focus,
  .header__mail:focus,
  .header__phone:hover {
    color: var(--accent);
    outline: 0;
  }
  
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    margin-right: 93px;
    outline: 0;
    color: var(--accent);
  }
  .stud {
    color: var(--main-tex-ol);
  }
  
  .phone-icon,
  .mail-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  